.bn--justify-start {
  justify-content: flex-start;
}
.bn--justify-end {
  justify-content: flex-end;
}
.bn--justify-center {
  justify-content: center;
}
.bn--justify-around {
  justify-content: space-around;
}
.bn--justify-between {
  justify-content: space-between;
}
