.beon-tags {
  &.beon-tag__315deg {
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
  }
  &.beon-tag__45deg {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }
  &.beon-tag__135deg {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
  }
  &.beon-tag__225deg {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
  }
}
