.beon-notificacao {
  /* top one */
  &.beon-notificacao--0deg {
    .beon-notificacao__inner {
      transform-origin: top center;
    }
  }

  /* bottom one */
  &.beon-notificacao--180deg {
    .beon-notificacao__inner {
      transform-origin: bottom center;
    }
  }

  /* right ones */
  &.beon-notificacao--45deg,
  &.beon-notificacao--90deg,
  &.beon-notificacao--135deg {
    .beon-notificacao__inner {
      transform-origin: center right;
    }
  }

  /* left ones */
  &.beon-notificacao--225deg,
  &.beon-notificacao--270deg,
  &.beon-notificacao--315deg {
    .beon-notificacao__inner {
      transform-origin: center left;
    }
  }

  /* scales */
  &.beon-notificacao--s50 {
    .beon-notificacao__inner {
      transform: scale(0.5);
    }
  }
  &.beon-notificacao--s75 {
    .beon-notificacao__inner {
      transform: scale(0.75);
    }
  }
}
