@import "./components/fragments/_digital.scss";

&.bn-clock--digital {
  .bn-clock__component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
  }

  .bn-clock__headline {
    color: inherit;
  }

  .bn-clock__subtle {
    color: inherit;
  }

  .bn-clock__headline,
  .bn-clock__subtle {
    color: inherit;
  }

  .bn-clock__frags {
    @extend %bn-clock__frags--digital;
  }
}
