/* showcase carousel default layout */

@import "../../components/head/_default.scss";

.beon-showcase {
  &.beon-showcase--carousel {
    &.beon-showcase--default {
      & {
        width: 100%;
      }

      .beon-slider__frame {
        width: 100%;
        max-width: $showcase-carousel--default-inner-w;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
