// layout
$banner-outer-max-width: 100%;
$banner-inner-max-width: 1200px;
$banner-slider-min-width: 100%;
$banner-slider-max-width: 100%;

$banner-faixa-slide-height: 180px;

$banner-faixa-default-bg: #d8d8d8;
$banner-faixa-default-fg: #333;

/* clock */
$banner-faixa-default-clock-bg: transparent;
$banner-faixa-default-clock-fg: $banner-faixa-default-fg;

// Tipography and colors
$banner-ff: $def-ff;
$banner-fz-mob: 18px;
$banner-fz-def: 20px;

$banner-c-stimulus: $def-c-stimulus;
$banner-c-text: $def-c-text;
$banner-c-strong: $def-c-strong;
$banner-c-subtle: $def-c-subtle;

// Buttons
/* $banner-button-pri-bg: $def-c-btn-pri-bg; */
$banner-button-pri-bg: transparent;
$banner-button-pri-fg: $banner-faixa-default-fg;
$banner-button-pri-border: 2px solid;
